body {
    height: 100%;
    text-align: center;
    background-image: url("images/dark-planet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  main {
    clear: both;
    float: none;
    width: 85%;
    margin-left: 7.5%;
    vertical-align: middle;
    margin-top: 100px;
  }
  
  p {
    max-width: 35em;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  
  .navbar bg-light {
    font-size: 18pt;
    clear: both;
    float: none;
    width: 100%;
  }
  
  .image {
    text-align: center;
    clear: both;
    float: none;
    width: 95%;
    margin-bottom: 20px;
  }

  .full-width button {
    width: 100%;
    clear: both;
    margin-bottom: 5px;
    background-color: #006494;
    border-color: #006494;
  }

  main {
    padding-bottom: 175px;
  }