* {
    font-family: garamond, cambria, 'times new roman', serif;
    color: #ffffff;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    line-height: 1.5 em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}