body {
    height: 100%;
    text-align: center;
  }
  
  main {
    clear: both;
    float: none;
    width: 85%;
    margin-left: 7.5%;
  }
  
  p {
    max-width: 35em;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navbar bg-light {
    text-align: center;
    font-size: 18pt;
    clear: both;
    float: none;
    width: 100%;
  }
  
  .image {
    text-align: center;
    clear: both;
    float: none;
    width: 95%;
    margin-bottom: 20px;
  }