body {
    height: 1vh;
    text-align: center;
    background-image: url("images/dark-planet.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 85%;
}
  
p {
    margin-bottom: 80px;
    margin-top: 50px;
}
  
.navbar bg-light {
    font-size: 18pt;
    clear: both;
    float: none;
    width: 100%;
}
  
.image {
    width: 95%;
    margin-bottom: 20px;
}

.full-width button {
    width: 100%;
    clear: both;
    margin-bottom: 5px;
    background-color: #006494;
    border-color: #006494;
}

main {
    padding-bottom: 175px;
}

.card {
    margin-left: auto;
    margin-right: auto;
  }

#count {
    color: rgb(246, 239, 158);
  }
  
.players {
    flex: 1;
    width: 100%;
    padding: 0.5em;
}
  
.player-name {
    color: rgb(118, 190, 210);
}
  
#player-messages {
    padding-top: 0.25em;
    opacity: 0.7;
}
  
.event {
    color: #ffffff;
}
  
.player-event {
    color: rgb(165, 220, 235);
}
  
.system-event {
    color: rgb(221, 148, 40);
}

.chatText {
    color: #ffffff;
}

  