body {
    height: 1vh;
    text-align: center;
    background-image: url("images/dark-planet.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 85%;
    clear: both;
}
  
p {
    margin-bottom: 40px;
}
  
.navbar bg-light {
    font-size: 18pt;
    clear: both;
    float: none;
    width: 100%;
}

#quote {
    max-height: 8em;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}